﻿html {
  height: 100%;
  

}
body{
  margin:0;
  height:100%;
  background-color:#f5f0ea;
  color:#000;
  font-family:Verdana;
  font-size:12px;
}

#flash{
  height:100%;
  width:100%;
}

#wrap
{   
    width:900px;
    margin:0 auto;
    
}

#nonflash
{   
    width:1100px;
    margin:0 auto;
    color:#999999;
    
}

#nonflash_Text
{
    position:relative;
    top:-480px;
    left:15px;
}

h1
{
 font-weight:normal;
 font-size:30px;
    
}

h2
{
 font-size:12px;
    
}
    
#leftColumn
{   
    width:50px;
    min-height:600px;
    float:left;

}

#middleColumn
{   
    width:800px;
    min-height:600px;
    float:left;
    
    
    
}

#rightColumn
{
    
    width:50px;
    min-height:600px;
    float:right;

}

#banner
{
        background-image: url(../Content/Images/Logo.png); 
    background-repeat:no-repeat; 
    height:100px;
    position:relative;
    top:50px;
}

#content
{
    position:relative;
    padding:30px; 
    float:left;
    margin-left:50px;
    top:50px;
    background-color:#d5d0c8;
}

#menu
{
    clear:both;
    float:left;
 }

#wizard
{
   padding:10px; 
}

.addNewTable
{
  
  background-color: white;
  
     
}

.Centre
{   
    width:400px;
    margin:0 200px 0 200px;
    
}

#Logo
{
	position:relative;
	top:50px;
	left:0px;
}

.Menus
{
    border-right: thin solid;
    border-top: thin solid; 
    border-left: thin solid; 
    width: 300px;
    background:#fff; 
    color:#000;            
    border-bottom: thin solid; 
}

.BoldHeading
{
    font-weight:bold;
    font-size:12px;
    color:Black;   
}