/* @font-face 
{
         src: url("../Content/Fonts/ITC Avant Garde Gothic LT Extra Light.ttf");
            fontFamily: ITCAvantGardeEmbed;
        }

   @font-face 
{
         src: url("../Content/Fonts/ITC Avant Garde CE Gothic Demi.ttf");
            fontFamily: ITCAvantGardeBoldEmbed;
        }
   */     
         @font-face 
{
         src: url("../Content/Fonts/ITC Avant Garde CE Gothic Book.ttf");
            fontFamily: ITCAvantGardeDemiEmbed;
        }  
Button.MiddleMenuThumbnailsLeftButton 
{
	upSkin: Embed("../Content/Images/ThumbnailButtonLeftOff.png");
	overSkin: Embed("../Content/Images/ThumbnailButtonLeftOver.png");
	downSkin: Embed("../Content/Images/ThumbnailButtonLeftOver.png");
}
        
Button.MiddleMenuThumbnailsRightButton 
{
    upSkin: Embed("../Content/Images/ThumbnailButtonRightOff.png");

    overSkin: Embed("../Content/Images/ThumbnailButtonRightOver.png");
    downSkin: Embed("../Content/Images/ThumbnailButtonRightOver.png");

}


        
  